@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    height: 100%;
    background-color: #272b2d;
    background-size: cover;
    background-attachment: fixed;
}

body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
}

.square {
    margin: 10px;
    /*padding: 10px;
    background-color: #373737;
    border: 1mm #373737;
    border-radius: 4mm;*/
    flex: 1;
    flex-grow: 1;
}

#leftthing {
    display: flex;
    max-width: 40em;
}

#tree {
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
    /*max-width: 30em;*/
    background-color: #101010;
}

#content {
    overflow:auto;
}

.select_icon {
    margin-right: 3px;
    cursor: pointer;
    display: flex;
}

.content {
    display: flex;
    height: 90%;
    color: white;
    font-family: "Jost",sans-serif;
    width: 100%;
    /*max-width: 90em;*/
}

.main_frame {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
}

.container {
    display: flex;
}

.item {
    margin-bottom: 10px;
}

.margin {
    margin: 10px;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.nested {
    margin-left: 17px;
}

.top_bar {
    padding-top: 10px;
    background: linear-gradient(to bottom, #001a64 20%, #00397d 20% 80%);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.7675);
    width: 100%;
    font-family: "Jost",sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

#title {
    font-size: 32px;
    margin: 5px;
}

#files {
    margin-top: 10px;
}

.spacing {
    flex: 1;
}

#query_result {
    background-color: #101010;
}

#search_id {
    margin-top: 5px;
    background-color: #69737d;
    border: 2px solid black;
    padding: 3px;
    border-radius: 6px;
}

.disabled {
    display: none;
}

#item_title {
    /*width: 60%;*/
    height: 100%;
    border: #282828 2px solid;
    color: white;
    font-family: "Jost",sans-serif;
    background-color: #282828;
    padding: 3px;
    border-radius: 6px;
}

#item_title:hover {
    background-color: #222;
    border: #222 2px solid;
    transition: background-color 100ms linear;
}

#item_title.enabled {
    background-color: #1818;
    border: #1818 2px solid;
    transition: background-color 100ms linear;
}

/* .overflow_text {
    text-overflow: ellipsis;
    overflow: hidden;
}
*/

.icon {
    margin-right: 3px;
}

.super {
    vertical-align: super;
    font-size: 0.8rem;
}

#display_image {
    max-width:100%;
    max-height:100%;
}


.icon {
    object-fit: none;
}



/* FAKE FORM STYLING */

/* FONT FAMILY FOR THE LOGIN SECTION */
/* font-family: 'Courier Prime', monospace; */

.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4rem;
    padding: 0 2%;
    width: 600px;
}

.wrapper > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-row > input[type=text] {
    padding: 10px;
    font-family: 'Courier Prime', monospace;
    border-radius: 5px;
}

.form-row > input:focus {
    outline: 1px solid orange;
}

.form-row > label {
    color: white;
    margin-bottom: .6rem;
    text-shadow: 3px 3px 4px rgba(0,0,0,1);
}


.form-row-inner-password {
    display: flex;
    justify-content: space-between;
}

.form-row-inner-password > input {
    font-family: 'Courier Prime', monospace;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}


.show-password-section {
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.show-password-section > p {
    margin-left: 10px;
    font-style: italic;
}


.form-row-inner-password > input:focus {
    outline: 1px solid orange;
}

.form-row:nth-of-type(2) {
    margin-bottom: 0;
}


.message {
    color: #be5d5b;
    font-size: .8rem;
}

.submit-row {
    width: 100%;
    text-align: center;
}

.submit-button {
    background: rgb(68,206,103);
    background: linear-gradient(0deg, rgba(68,206,103,1) 31%, rgba(152,219,189,1) 100%);
    color: green;
    padding: .6rem .8rem;
    border-radius: 7px !important;
    box-shadow: 6px 8px 6px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    /**/
    position: absolute;
    transform: translateX(-50%);
} 



footer {
    display: flex;
    align-items: end;
    min-height: 27vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .85rem;
    text-align: center;
}

footer > .footer-inner {
    text-align: center;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    color: #5e6569;
}


/* login logic */
.hidden {
    display: none;
}

.hidden.active {
    display: flex;
}


@media screen and (max-width: 768px) {
    .wrapper {
        width: 500px;
        padding: 0 2%;
        margin: 2rem auto;
    }
}